@import "../../style/mixins";

.game-notify {
	text-align: center;
	font-size: .75em;

	svg {
	    height: 16px;
	    vertical-align: middle;
	}

	span.join {
		color: #00B0F4;
		color: var(--link-color, #00B0F4);

		&:hover {
			text-decoration: underline;
		}
		@media @mobile {
			display: none;
		}
	}
}