@import "../../style/mixins";

.spotify-listen {
	height: 48px;
	display: flex;
	margin: 2px 0;

	.icon {
		height: 100%;
		width: 48px;

		svg {
		    height: 100%;
		    margin: 5px;
		    width: 50%;
		}
	}

	p {
		text-align: center;
		flex: 1 1 0;
        margin: 12px;
        font-size: .8em;

		span.join {
			color: #00B0F4;
			color: var(--link-color, #00B0F4);

			&:hover {
				text-decoration: underline;
			}
			@media @mobile {
				display: none;
			}
		}
	}

	img {
		width: 48px;
	}
}