.badge {
	position: absolute;
    right: 0;
    margin: 0 5px;
    background: #769bff;
	background: var(--badge-background, #769bff);
	color: white;
	color: var(--badge-foreground, white);
    padding: 4px;
    font-size: 0.7em;
    border-radius: 50%;
    height: 10px;
    width: 10px;
	line-height: 1;
    text-align: center;
	z-index: 1;
}