@import "../../style/mixins.less";

.navigation-container {

	height: 100%;
    overflow: auto;

	@media @mobile {
		align-items: flex-end;
		height: auto;
	}

	ul.navigation {
		list-style-type: none;
		margin: 0;

		padding: 2px;

		width: 48px;

		@media @mobile {
			border-top: 1px solid rgba(107, 107, 107, 0.3);
			display: flex;
			width: 100%;
			padding: 0;

			> div, > li {
				// display: inline-block;
				position: relative !important;
				margin: auto;

				&, > li {
					padding: 4px !important;
				}

				svg {
					padding: 0 !important;
				}
			}

			& > :first-child {
				order: 1;
			}

			& > :nth-child(2) {
				order: 2;
			}

			& > :nth-child(3) {
				order: 4;
			}

			& > :nth-child(4) {
				order: 0;
			}

			& > :nth-child(5) {
				order: 4;
			}
		}

		li.navigation-item {
			margin: auto;
			height: 32px;
			position: relative;

			padding: 15px 0;

			&.info {
				position: relative;
				@media all and (min-height: 400px)  {
					position: absolute;
				}

				bottom: 0;

				a.active {
					svg {
						fill: black;
						fill: var(--text-color, black);
					}
				}
			}


			a {
				width: 100%;
				height: 100%;

				display: block;

				svg {
					padding: 4px;
					border-radius: 50%;
					border: 4px solid transparent;
					width: 28px;
					height: 28px;
					margin: auto;
					fill: #828282;
					fill: var(--navigation-item-color, #828282);
				}

				&.active {
					svg {
						fill: #769bff;
						fill: var(--navigation-item-color-active, #769bff);
						border: 4px solid #769bff;
						border: 4px solid var(--navigation-item-color-active, #769bff);
					}

				}
			}
		}
	}
}