.button {
	color: #696969;
	color: var(--text-color, #696969);
	background: transparent;
	transition: background .4s;
	border-radius: 2px;
	border: none;
	outline: none;
	font-size: .9em;
	margin: 10px auto;
	display: block;
	padding: 5px 10px;
	cursor: pointer;
	text-transform: uppercase;

	&:hover {
		background: rgba(0,0,0,.2);
		background: var(--button-hover-background, rgba(0,0,0,.2))
	}

	&.icon-button {
		padding: 0;

		&:hover {
			background: transparent;
			svg {

				background: rgba(0,0,0,.2)
			}
		}

		svg { // icon
			padding: 4px;
			border-radius: 50%;
			transition: background .4s;
		}
	}
}