:global(.dark-theme) {
	--background: #252525;
	--background-image-darken: 60%;

	--text-color: #dcdcdc;

	--card-dropshadow-color: #4d4b4c;

	--link-color: #00b0f4;

	// input
	--input-border-bottom: #cbcbcb;
	--input-border-bottom-focused: white;

	// button hover transparent background
	--button-hover-background: rgba(255,255,255,.2);

	// Partial DM skeleton
	--dmlist-skeleton-background: #464646;
	--subtext-color: #a1b0b3;

	// --navigation-item-color: #fff;
	--navigation-item-color-active: #fff;
	--fading-out-highlight: rgba(255,255,255,.2);
	--modal-container-background: rgba(0,0,0,.3);

	// opposite background, e.g. tooltips
	--opposite-background: rgba(255,255,255,1);
	--opposite-color: black;

	--error-color: red;

	--badge-background: white;
	--badge-foreground: black;

	// The icon is only black !
	--notification--image-filter: invert(1);
	--notification--background: #0e0e0e;
	--notification--foreground: white;

	--left-login-button-background: hsla(0, 0%, 100%, 0.1);
	--left-login-button-foreground: white;
	--right-login-button-background: hsla(0, 0%, 100%, 0.2);
	--right-login-button-foreground: white;

	svg {
		fill: white;
	}
}

