:global(.deep-blue-theme) {
	--background: #002e4d;
	--background-image-darken: 60%;

	--text-color: #dcdcdc;

	--card-dropshadow-color: #002e4d;

	--link-color: #00b0f4;

	// input
	--input-border-bottom: #cbcbcb;
	--input-border-bottom-focused: white;

	// button hover transparent background
	--button-hover-background: rgba(255,255,255,.2);

	// Partial DM skeleton
	--dmlist-skeleton-background: ligthen(#002e4d, 70%);
	--subtext-color: #a1b0b3;

	// --navigation-item-color: #fff;
	--navigation-item-color-active: #fff;
	--fading-out-highlight: rgba(255,255,255,.2);
	--modal-container-background: fade(darken(#002e4d, 50%), 30%);

	--opposite-background: rgba(255,255,255,1);
	--opposite-color: black;

	--error-color: red;

	--badge-background: white;
	--badge-foreground: fade(darken(#002e4d, 70%), 30%);

	--left-login-button-background: hsla(0, 0%, 100%, 0.1);
	--left-login-button-foreground: white;
	--right-login-button-background: hsla(0, 0%, 100%, 0.2);
	--right-login-button-foreground: white;

	// The icon is only black !
	--notification--image-filter: invert(1);
	--notification--background: fade(darken(#002e4d, 90%), 30%);
	--notification--foreground: white;

	svg {
		fill: white;
	}
}

