:global(.lyromas-purple-theme) {
	--background: rgba(38,10,62,.8);
	--background-image-darken: 60%;

	--text-color: #dcd7c9;

	--card-dropshadow-color: #280a40;

	// input
	--input-border-bottom: #cbcbcb;
	--input-border-bottom-focused: white;

	// button hover transparent background
	--button-hover-background: rgba(255,255,255,.2);

	// Partial DM skeleton
	--dmlist-skeleton-background: ligthen(#580c80, 70%);
	--subtext-color: darken(#dcd7c9, 20%);

	// --navigation-item-color: #fff;
	--navigation-item-color-active: #fff;
	--fading-out-highlight: rgba(255,255,255,.2);
	--modal-container-background: fade(darken(#580c80, 80%), 30%);

	--opposite-background: rgba(255,255,255,1);
	--opposite-color: black;

	--error-color: red;

	--badge-background: #808080;
	--badge-foreground: fade(darken(#580c80, 70%), 30%);

	--left-login-button-background: hsla(0, 0%, 100%, 0.1);
	--left-login-button-foreground: white;
	--right-login-button-background: hsla(0, 0%, 100%, 0.2);
	--right-login-button-foreground: white;


	// The icon is only black !
	--notification--image-filter: invert(1);
	--notification--background: fade(darken(#580c80, 90%), 30%);
	--notification--foreground: white;

	svg {
		fill: white;
	}
}

