.footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	

	ul {
		display: inline-block;
		list-style-type: none;
		padding: 0;
		position: relative;

		li {
			display: inline; 
		}
	
		li + li::before { // selects only li after the first one
			content: '●';
			font-size: .5em;
			position: relative;
			bottom: 4px;
			width: 20px;
			display: inline-block;
		}
	
		li, a {
			color: #fff;
		}

		> div {
			z-index: -1;
			height: 20px;
			background: black;
			position: absolute;
			bottom: -40px;
			left: -2.5%;
			width: 105%;
			box-shadow: 1px -15px 20px 20px rgba(0, 0, 0, 0.4);
		}
	}
}