.info-page {
	overflow-y: auto;
	height: 100%;
	position: relative;

	
	.presentation {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;

		text-align: center;

		svg {
			margin: 20px 0 10px 0;
			width: 128px;
			height: 128px;
		}

		h2 {
			margin-bottom: 2px;
			a {
				&, &:visited {
					color: inherit;
				}
			}
		}


		h4 {
			margin-top: 0;
			&, a {
				color: #595959;
				color: var(--subtext-color, #595959);
				font-style: italic;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}