.settings-container {
	display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
	margin: 0 5px;

	.settings {
		width: 100%;
		max-width: 800px;
		margin: 10px auto 40px auto;

		> .preferences {
			> div {
				height: 24px;
				padding: 4px;

				> * {
					margin: 0;
					// display: inline-block;
					// text-align: left;
					float: left;
					// display: inline-block;
				}

				> input, > select {
					// text-align: right;
					float: right;
					background: transparent;

					> option {
						background: var(--background);
					}
				}
			}
		}
	}

	.highlight {
		@keyframes fading-out-highlighting {
			from {
				background: rgba(0, 0, 0, .2);
				background: var(--fading-out-highlight, rgba(0,0,0,.2));
			} to {
				background: rgba(0, 0, 0, 0);
			}
		}

		animation: fading-out-highlighting 5s;
	}

}
