.message {
	margin-top: 4px;
	p.user {
		font-size: .9em;
        margin: 5px 0 0 13px;
		color: #696969;
		color: var(--subtext-color, #696969);

		span.time {
			margin-left: 10px;
			margin-bottom: 5px;
			font-size: .7em;
			color: transparent;
			transition: color .4s;
		}
	}

	&:hover {
		p.user > span.time {
			color: inherit;
		}
	}

	p.content {
		word-wrap: break-word;
		margin: 2px 0;
		user-select: text;
		overflow-wrap: anywhere;
	}

	&.fail > p {
		color: red;
		color: var(--error-color, red);
	}

	&.sending {
		opacity: .4;
	}

	&.compact {
		margin-bottom: 4px;
	}

	:global(.emoji) {
		height: 1.4em;
		width: 1.4em;
		vertical-align: middle;
		overflow: hidden;
	}
}