.input {
	margin: 4px;
	padding: 6px;
	width: auto;
	border-bottom: 1px solid #f0f0f0;
	border-bottom: 1px solid var(--input-border-bottom, #f0f0f0);
	position: relative;

	input {
		outline: none;
		border: none;
		background: transparent;
		width: 100%;
		color: inherit;
	}

	label {
		text-align: left;
		position: relative;
		display: block;
		font-size: 16px;
		transform: translateY(20px);
		transform-origin: 0 50%;
		transition: transform .1s
	}

	&.focused, &.value {
		border-bottom: 1px solid gray;
		border-bottom: 1px solid var(--input-border-bottom-focused, gray);

		& > label {
			transform: translateY(6px) scale(0.60);
		}
	}

	
	p {
		position: absolute;
		font-size: .7em;
		display: none;
	}

	&.error {
		p {
			display: block;
			color: red;
			color: var(--error-color, red);
		}
		
		& {
			border-bottom: 1px solid red;
			border-bottom: 1px solid var(--error-color, red);
		}
	}

	color: #696969;
	color: var(--text-color, #696969);
}