.loading-spinner {
	position: relative;
	margin: 0px auto;
	width: auto;
	height: auto;
	
	&::before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	> svg {
		-webkit-animation: rotate 2s linear infinite;
		animation: rotate 2s linear infinite;
		height: 100%;
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

		> circle {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
			stroke-linecap: round;
		}
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124;
	}
}

@-webkit-keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%, 90% {
		stroke: #ffa700;
	}
}

@keyframes color {
	100%, 0% {
		stroke: #d62d20;
	}
	40% {
		stroke: #0057e7;
	}
	66% {
		stroke: #008744;
	}
	80%, 90% {
		stroke: #ffa700;
	}
}