.container {
	position: relative;
	top: 5px;
	width: 100%;

	max-height: 44px;
	overflow-y: auto;

	textarea, .render, .render a {
		font-size: 14px;
	}

	textarea {
		background: transparent;
		padding: 0;
		font-size: 14px;
		height: 32px;
		width: 100%;
		color: #696969;
		color: var(--subtext-color, #696969);
		caret-color: #696969;
		caret-color: var(--subtext-color, #696969);
		border: none;
		outline: none;
		resize: none;
		z-index: 1;

		&.hide-text {
			color: transparent;
		}

		&::selection {
			color: transparent;
			background: var(--selection-color, rgba(96,185,255,.5));
		}
	}

	:global(.delimiter) {
		color: #696969;
		color: var(--subtext-color, #696969);
		opacity: .6;
	}

	.render {
		margin: 0;
		word-wrap: break-word;
		pointer-events: none;
		cursor: alias;
		user-select: text;
		position: absolute;
		top: 0;
		z-index: 0;
		width: 100%;

		color: #696969;
		color: var(--text-color, #696969);

		& a {
			font-family: inherit;
		}

		b { // fix
			font-weight: normal;
			text-shadow: 1px 0 1px currentColor;
		}
	}
}