.modal-container {
	background: rgba(255,255,255,.3);
	background: var(--modal-container-background, rgba(255,255,255,.3));
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;

	&.modal-enter {
		opacity: 0;

		> .modal {
			top: 0;
		}
	}

	&.modal-enter-active {
		opacity: 1;
		transition: opacity 200ms;

		> .modal {
			top: 50%;
			transition: top 200ms;
		}
	}

	.modal {
		max-width: 400px;
		height: auto;

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;

		border-radius: 3px;
		box-shadow: 2px 2px 19px 2px rgba(0, 0, 0, 0.5);
		background: white;
		background: var(--background, white);

		color: var(--text-color, black);
	}
}