@import "../../../style/mixins.less";

.login-card-container {
	.card-container();

	.login-card {
		.card();

		position: relative;
		width: 400px;
		/* height: 300px; */
		overflow: hidden;
		white-space: nowrap;

		p.text {
			white-space: normal;
			color: #696969;
			color: var(--text-color, #696969);
			text-align: center;
			font-size: .9em;
			margin: 0 4px;
		}

		@media all and (max-width: 450px) {
			width: 100%;
			height: 100%;
			
			border-radius: 0;
		}

		transition: height .4s;

		.login-containers {
			position: relative;
			left: 800px;
			height: inherit; // given by parent, by JS
			// transition: left .4s;

			h1 {
				color: #696969;
				color: var(--text-color, #696969);
				font-size: 1.2em;
			}

			> div {
				display: inline-block;
				/* min-height: 100%; */
				width: 100%;
				margin-bottom: 70px;
				vertical-align: top;
			}

			.padded-one {
				// trick for margins
				box-sizing: border-box;
				border: 15px solid transparent;
			}

			.buttonContainer {
				position: absolute;
				bottom: 0;
				width: 100%;
				display: flex;
				align-content: stretch;
				height: 42px;

				button {
					flex: auto;
					background: var(--left-login-button-background);
					color: var(--left-login-button-foreground);
				}

				button + button {
				    background: #769bff;
					background: var(--right-login-button-background, #769bff);
					color: var(--right-login-button-foreground, white);
				}
			}

			opacity: 1;
			&.hidingLogin {
				opacity: 0;
				transition: opacity .4s;
			}
		}

		&.loading-login-card {
			transition: border-radius .4s, width .4s, height .4s;
			width: 80px;
			height: 80px !important;
			border-radius: 50%;
		}

		.loading-container {
			opacity: 0;

			&.loading-container-show {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
				transition: opacity 1s;
			}
		}

	}
}