@import "./mixins";

.ws-loading {
	.card-container();

	.loading-spinner {
		height: 150px;
	}

	> div {
		max-height: 80vh;
		width: 400px;
		.card();
		text-align: center;

		svg {
			width: 100%;
			height: 128px;
		}
	}
	height: 100vh;
}