// @import url('//fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap.css');
// @import (css) url('//fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
// imported now in index.html!!

h1, h2, h3, h4, h5 {
	font-weight: 400;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p, span, div {
	color: var(--text-color);
}

body {
	margin: 0;
	user-select: none;
}

body, div {
	// scroll-behavior: smooth;
}

* {
	font-family: 'Inter', Inconsolata, Arial, Helvetica, sans-serif;
}

svg {
	fill: black;
}

:global(.emoji-font-set) {
	&, * {
		font-family: apple color emoji ,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol,
	'Inter', Inconsolata, Arial, Helvetica, sans-serif;
	}
}

a, a:visited {
	color: var(--link-color, #00b0f4);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

select {
	background: var(--background, #fff);
	border: 0;
	outline: none;
	color: #696969;
	color: var(--text-color, #696969);
	border-bottom: 1px solid #f0f0f0;
	border-bottom: 1px solid var(--input-border-bottom);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar {
	border-radius: 15px;
}

::-webkit-scrollbar-thumb {
	background-clip: padding-box;
    border: 3px solid transparent;
	transition: background-color .4s;
    background-color: rgba(0, 0, 0, 0.15);

	&:hover {
		background-color: rgba(0, 0, 0, .25);
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
	-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #818100 !important;
}