@mobile: ~"(max-width: 650px)";

.card-container() {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;	
}

.card() {
	background: #fff;
	background: var(--background, #fff);
	box-shadow: 2px 3px 20px 2px #505050;
	box-shadow: 2px 3px 20px 2px var(--card-dropshadow-color, #505050);

	border-radius: 3px;
}

.animated-gradient-mixin() {
	width: 100%;
	height: 100%;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}