@import "../../style/mixins.less";

.chat-content {
	display: flex;
	flex: 1;
	flex-direction: row;
	overflow: hidden;

	> * ~ div {
		border-left: 1px solid rgba(107, 107, 107, 0.3);
	}

	> .left-panel {
		display: flex;
		flex: 1;
		flex-direction: column;


		position: relative;
		overflow-y: auto;

		.no-chat {
			max-width: 800px;
			text-align: center;
			margin: auto;

			> * > div {
				display: inline-block;
			}
		}
	}
}