.app-enter {
	opacity: 0;
	transform: scale(0.9);
}

.app-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.app-exit {
	opacity: 1;
}

.app-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

@import "../../style/mixins.less";

.app-card-container {
	.card-container();

	.app-card {
		.card();

		width: 80vw;
		height: 80vh;

		@media (max-width: 1000px), (max-height: 550px) {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}

		@media @mobile {
			flex-direction: column-reverse !important;
		}
		
		position: relative;

		border-radius: 3px;

		justify-content: stretch;
	}

	.flex-fill {
		flex: 1;
	}

	.flex-horizontal {
		display: flex;
		flex-direction: row;

		> * ~ div {
			border-left: 1px solid rgba(107, 107, 107, 0.3);

			@media @mobile {
				&.disableBorderOnMobile {
					border-left: 0;
				}
			}
		}
	}

	.flex-vertical {
		display: flex;
		flex-direction: column;

		> * ~ div {
			border-top: 1px solid rgba(107, 107, 107, 0.3);

			@media @mobile {
				flex: 1 1 0;

				&.disableBorderOnMobile {
					border-left: 0;
				}
			}
		}
	}
}