.notification-enter {
	opacity: 0;
}
.notification-enter-active {
	opacity: .8;
	transition: opacity .5s;
}
.notification-exit {
	opacity: .8;
}
.notification-exit-active {
	opacity: 0 !important;
	transition: opacity .5s;
}

.notification-container {
	position: fixed;
	top: 0;
	right: 0;

	.notification {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		top: 0;
		right: 0;
		margin: 5px;
		border-radius: 4px;
		width: 300px;
		z-index: 9999999;
		background: var(--notification--background, rgba(255, 255, 255));
		transition: opacity .4s;
		box-shadow: 0px 0px 5px 0px #505050;
		box-shadow: 0px 0px 5px 0px var(--card-dropshadow-color, #505050);

		> img {
			width: 40px;
			margin: auto 8px;
			filter: var(--notification--image-filter, invert(0));
		}

		&:hover {
			opacity: 1;
		}

		> .notification-text {
			flex: 1;
			margin: 12px 0;
			p {
				width: 220px;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 0;
				color: var(--notification--foreground, black);
			}

			p + p {
				font-style: italic;
			}
		}

		> .close {
			align-self: center;
			svg {
				width: 16px;
				margin-right: 4px;
				fill: var(--notification--foreground, black);
			}
		}
	}
}