.container {
    position: relative;

    .input {
        display: flex;
        align-items: flex-end;
        button {
            height: 28px;
        }
        > div {
            flex-grow: 1;
        }
        margin-bottom: 10px;
    }

    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: white;
        background: var(--card-dropshadow-color, white);
        opacity: .7;
        &::before {
            padding-top: 0;
        }
    }

    .users {
        > div {
            > div {
                display: inline-block;
                width: 20px;
                vertical-align: middle;

                svg {
                    width: 100%;
                }
            }

            p {
                margin: 5px 0 5px 10px;
                display: inline-block;
            }
        }
    }
}