@import "../../style/mixins";

.container {
	display: flex;

	@media @mobile {
		&.show-hamburger {
			.hamburger-icon {
				display: block !important;
				padding-left: 15px;

				> svg {
					height: 100%;
					width: 24px;
				}
			}
		}

		&.is-in-dm {
			.chat-search {
				display: none;
			}

			.mobile-dm-info {
				display: flex;
				flex: 1 1 0;
				align-items: center;

				> svg {
					margin-left: 10px;
				}

				p {
					flex: 1 1 0;
					margin-left: 10px;
				}

				.delete-icon {
					svg {
						height: 24px;
					}
				}
			}
		}
	}

	.mobile-dm-info {
		display: none;
	}

	.hamburger-icon {
		display: none;
	}

	.chat-search {
		flex: 1 1 0;
		display: flex;
		flex-direction: row;
		margin: 0 20px;
		position: relative;

		svg {
			fill: #828282;
			padding-left: 5px;
			align-self: center;
		}

		.input {
			position: relative;
			top: -10px;
			border: none;
			width: 100%;

			@media @mobile {
				label {
					font-size: .7em;
				}
			}
		}

		.search-result-container {
			background: #fff;
			background: var(--background, #fff);
			z-index: 1;
			position: absolute;
			left: -20px;
			padding: 0 20px 15px 20px; // cf. .chat-search margin
			bottom: 0;
			transform: translateY(100%);
			width: 100%;
			height: auto;

			border-bottom: 1px solid rgba(107, 107, 107, 0.3);

			.search-result {
				height: auto;
				max-height: 70%;

				> div.result {
					position: relative;
					cursor: pointer;

					&:hover {
						background: rgba(0, 0, 0, .1);
						background: var(--button-hover-background, rgba(0, 0, 0, .1))
					}

					span {
						position: absolute;
						top: 20%;
						left: 50px;
					}
				}

				.loading {
					width: 64px;
					height: 100%;
					margin: auto;
					filter: grayscale(1);
				}
			}
		}
	}
}