<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Chat (Projet ISN)" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" />
		<link rel="preload" href="https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png" as="image" />


		<style>
			#loader {
				font-family: 'Inter', Arial, Helvetica, sans-serif;
				text-align: center;
				margin: auto;
			}
		</style>
	</head>
	<body class='dark-theme'>
		<noscript>javascript is required.</noscript>
		<div id='loader'>
			<p>Loading the application...</p>
			<p id='state'></p>
		</div>
	</body>
	<script type="text/javascript">

		(function() {
			var state = document.querySelector('#state')

			// manage manually cache


			function loadScript(scriptname, src, callback) {
				var xhr = new XMLHttpRequest()
				xhr.open('GET', src)
				xhr.addEventListener('progress', function(e) {
					if (e.lengthComputable) {
						state.innerHTML = 'Loading ' + scriptname + ', ' + Math.round((e.loaded/e.total)*100) + '%'
					} else {
						state.innerHTML = 'Loading ' + scriptname + '...'
					}
				})
				xhr.addEventListener('readystatechange', function() {
					if (xhr.readyState === 4) {
						if (xhr.status === 200) {
							var script = document.createElement('script')
							script.setAttribute('data-script-name', scriptname)
							script.setAttribute('data-script-src', src)
							// script.innerHTML = xhr.responseText
							script.appendChild( document.createTextNode( xhr.responseText ) );
							document.body.appendChild( script )

							if (callback)
								callback()
						} else {
							state.innerHTML = 'Error while loading ' + scriptname
						}
					}
				})
				xhr.send()
			}

			function deleteLoader() {
				var l = document.querySelector('#loader')
				loader.parentNode.removeChild(loader)
			}

			loadScript('vendor', './vendor.js', function() {
				loadScript('main', './main.js', function() {
					deleteLoader()
				})
			})
		})()
	</script>
</html>