@import "../../style/mixins";

.tooltip {
	/* position: absolute; */
	position: fixed;
	background: rgba(0,0,0,.4);
	background: var(--opposite-background, rgba(0,0,0,.4));
	border-radius: 4px;
	color: white !important;
	color: var(--opposite-color, white) !important;

	font-size: .9em;
	padding: 4px 5px 4px 4px;

	z-index: 9999;
	transform: translateX(-25%);
	
	animation: appearing-tooltip normal 200ms;

	width: max-content;
    max-width: 300px;

	pointer-events: none;

	text-align: center;

	@media @mobile {
		max-width: 100vw;

		.still-show-tooltip {
			display: block;
		}

		display: none;
	}
}

@keyframes appearing-tooltip {
	from {
		opacity: 0;
		transform: translate(-25%, -4%) scale(.9)
	} to {
		opacity: 1;
		transform: translate(-25%, 0) scale(1)
	}
}