@import "../../style/mixins.less";

.container {
	position: relative;

	@media @mobile {
		.black-fade {
			background: black;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.chat-list {
			box-shadow: 2px 3px 20px 2px #505050;
			box-shadow: 2px 3px 20px 2px var(--card-dropshadow-color, #505050);
			position: absolute;
			left: -240px;
			background: var(--background, white);
			border-right: 1px solid rgba(107, 107, 107, 0.3);
			z-index: 2;
			height: 100%;

			&.transition-enabled {
				transition: left .2s;
			}
		}
	}

	.chat-list {
		width: 240px;


		> div {

			&:hover {
				background: rgba(0, 0, 0, .05);
				background: var(--button-hover-background, rgba(0, 0, 0, .05))
			}

			> a {
				color: black;
				text-decoration: none;
				display: block;

				padding: 4px;

				> * {
					vertical-align: middle;
					display: inline-block;
					margin-left: 8px;
				}

				div.surprising-delete-icon {
					height: 46px;
					width: 50px;

					position: relative;

					.chat-icon, .delete-icon {
						transition: opacity .4s 1s;
						position: absolute;
						top: 0;
					}

					.chat-icon {
						opacity: 1;
					}

					.delete-icon {
						opacity: 0;
					}

					&:hover {
						& .chat-icon {
							opacity: 0;
						}

						& .delete-icon {
							opacity: 1;
						}
					}
				}

				> div.content {
					width: 140px;
				}

				p {
					margin: 0;
					// word-break: break-all;
				}

				p + p {
					font-size: .9em;
					color: #696969;
					color: var(--subtext-color, #696969);
				}

				svg {
					padding: 5px;
				}

			}

			&.selected {
				background: rgba(0, 0, 0, .1)
			}
		}

		overflow-y: auto;

		&.skeleton {
			overflow: hidden;

			&:hover {
				background: transparent;
			}

			&, a, p {
				color: transparent;
			}

			p {
				width: 100%;
			}

			p, svg {
				background-color: #DDDBDD;
				background-color: var(--dmlist-skeleton-background, #DDDBDD);
				position: relative;
				overflow: hidden;

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: translateX(-100%);
					background-image: linear-gradient(90deg,
					rgba(#fff, 0) 0,
					rgba(#fff, 0.2) 20%,
					rgba(#fff, 0.5) 60%,
					rgba(#fff, 0));
					animation: shimmer 2s infinite;
					content: '';
				}

				@keyframes shimmer {
					100% {
						transform: translateX(100%);
					}
				}
			}

			svg {
				fill: transparent;
				border-radius: 50%;
			}
		}
	}

	@keyframes skeleton-loading {
		from {
			background-position: 0;
		}
		to {
			background-position: 100px;
		}
	}
}