.parent {
	width: 100%;
    height: 100%;
    overflow: auto;
	position: relative;

	.container {
		max-width: 900px;
		width: 100%;
		margin: auto;
		height: 100%;
		padding: 10px;
		overflow: auto;
	}

	.loading {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    background: white;
		background: var(--card-dropshadow-color, white);
	    opacity: .7;

		&::before {
			padding-top: 0;
		}

		> svg {
			height: 50px;
		}
	}

	p.error {
		color: red;
		color: var(--error-color, red);
		text-align: right;
		margin: 5px;
	}

	.chats {
		p {
			margin-right: 5px;
			text-align: right;
		}

		& > div {
	        &:hover {
				background: rgba(0,0,0,.05);
				background: var(--button-hover-background, rgba(0,0,0,.05))
			}
			> a {
	            color: black;
	            text-decoration: none;
	            display: block;

	            padding: 4px;

	            > * {
	                vertical-align: middle;
	                display: inline-block;
	                margin-left: 8px;
	            }
	        }
	    }
	}
}