@import "../../style/mixins";

.input-container {
	width: 100%;
	display: flex;
	position: relative;
	height: 50px;

	> * {
		justify-content: center;
	}

	> *:first-child {
		margin-left: 10px;
	}

	> *:last-child {
		margin-right: 10px;
	}

	button {
		position: relative;
		top: 10px;
		margin: 0 5px;
		height: 26px;
		svg {
			height: 26px;
			width: 26px;
			padding: 4px;
		}
	}

	> form {
		margin: 0 5px;
		flex-grow: 1;
		position: relative;
		height: 40px;
		// top: -10px; // fucking offset
		border: none;

		> .input {
			max-height: 32px;
		}
	}
	
	&::before {
		content: '';
		display: inline-block;
		height: 1px;
		width: 90%;
		position: absolute;
		top: 0;
		left: 5%;
		background: #c5c5c5;
	}

	@media @mobile {
		.disable-on-mobile {
			display: none;
		}
	}
}