@import "../../style/mixins.less";

.container {
	position: relative;

	.card-exit {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 2;
	}

	.card {
		.card();
		position: absolute;
		bottom: 10px;
		transform: translateX(-100%);
		z-index: 3;

		white-space: nowrap;

		> div > div {
			background: transparent;
			transition: background .4s;
			&:hover {
				background: var(--button-hover-background, rgba(0,0,0,.2))
			}

			svg {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 6px;
				vertical-align: middle;
			}

			p {
				display: inline-block;
				font-size: .9em;
				margin: 10px 5px;
			}
		}
	}
}