:global(.emoji-container) {
	position: relative;
	color: transparent;
	white-space: nowrap;

	:global(.emoji) {
		position: absolute;
		user-select: none;
		display: inline-block;
		color: transparent;
		background-image: url(https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png);
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
}