@import "../../style/mixins.less";

.container {
	position: relative;

	.card-exit {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 2;
	}

	@card-width: 325px;
	.card {
		.card();
		position: absolute;
		bottom: 10px;
		left: -@card-width;
		width: @card-width;
		height: 250px;
		z-index: 3;

		display: flex;
		flex-direction: column;

		.emojis-container {
			flex: 1;
            overflow-y: auto;
			margin: auto;

			:global(.emoji-container) {
				display: block;
				width: 20px;
				height: 20px;
			}
		}
	}
}