@import "../../style/mixins";

.container {
	display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
	margin: 0 5px;

	form {
		position: relative;
	}

	.loading {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    background: white;
	    opacity: .7;
	}

	.user-main-details {
		> div.icon {
			margin: auto;
			height: 128px;
			width: 128px;

			> svg {
				height: 100%; width: 100%;
			}
		}

		> div.username {
			text-align: center;
			font-style: italic;

			color: var(--text-color);

			svg {
				height: 24px;
				cursor: help;
			}

			> div { // tooltip
				display: inline-block;
				vertical-align: middle;
				margin: 0 0 0 10px;
			}
		}
	}

	> div {
		width: 100%;
		max-width: 800px;
		margin: 10px auto 40px auto;
	}

	.new-password {
		display: flex;
		align-items: stretch;

		> div {
			flex-grow: 1;
		}
	}
}