.background {
	position: absolute;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	z-index: -2;

	background: black;

	img, > div {
		position: fixed;
	}

	img {
		
		width: inherit;
		height: inherit;
		object-fit: cover;
	}

	.shadow {
		z-index: -1;
		height: 20px;
		background: black;
		position: absolute;
		bottom: -40px;
		left: -2.5%;
		width: 105%;
		box-shadow: 1px -15px 20px 20px rgba(0, 0, 0, 0.4);
	}

	> div {
		@media all and (max-width: 1200px) {
			& { display: none; }
		}

		p {
			margin: 4px;
		}

		color: #fff;

		left: 0;
		bottom: 0;
	}
}