

.background, .background-darken {
	height: 100%;
	position: fixed;
	width: 100%;

	&.background {
		z-index: -2;
	}

	&.background-darken {
		z-index: -1;
		background: #000;
		opacity: 0;
		opacity: var(--background-image-darken, 0);
	}
}